PORT=3000
CLIENT_URL=http://localhost:4200
NODE_ENV=development

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DATABASE_NAME?schema=public"

JWT_SECRET="replace-with-a-long-random-secret"
JWT_EXPIRES_IN=15m